{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style="background-color: #1e68bd; color: #454545; padding: 50px; border-width: 4px; border-color: #182f4a">
    <h1>Welcome, {{current_user.firstname}}</h1>
    <br>
    <h2>Here is your account info</h2>
    <br>
    <div class="container">
        <p><strong>Name: {{current_user.firstname}} {{current_user.lastname}}</strong></p>
        <p><strong>Email: {{current_user.email}}</strong></p>
        <p><strong>Username: {{current_user.username}}</strong></p>
    </div>
</div>
{% endblock %}