{% extends "base.html" %}
{% block content %}
<style>
    #demo {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: yellow;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;

    width: 0px;
}
#demo.in {
    width: 350px;
}
.sidenav {
  height: 220px;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 200;
  left: 200;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>
<body>

<div class="sidenav">
    <a type="button" href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
</div>
<button type="button" class="btn btn-primary btn-sm"
        data-toggle="toggle" data-target="#demo">
    <i class="fa fa-plus"></i>
</button>

<div id="demo" class="">
    <button class="btn btn-default btn-xs" type="button">
        <span class="fa fa-star"></span> Star
    </button>
    <button class="btn btn-default btn-xs" type="button">
        <span class="fa fa-star"></span> Star
    </button>
    <button class="btn btn-default btn-xs" type="button">
        <span class="fa fa-star"></span> Star
    </button>
    <button class="btn btn-default btn-xs" type="button">
        <span class="fa fa-star"></span> Star
    </button>
</div>
<script>
    $("[data-toggle='toggle']").click(function() {
    var selector = $(this).data("target");
    $(selector).toggleClass('in');
});

</script>
<div class="jumbotron">
    <h1>Welcome, {{current_user.firstname}}</h1>
    <br>
    <h2>Here is your account info</h2>
    <br>
    <div class="container">
        <p><strong>Name: {{current_user.firstname}} {{current_user.lastname}}</strong></p>
        <p><strong>Email: {{current_user.email}}</strong></p>
        <p><strong>Username: {{current_user.username}}</strong></p>
    </div>
</div>
{% endblock %}