{% extends "base.html" %}
{% block content %}
<h2 class="display-4 text-white">
    {%if topic == 'Graphic'%}
    {{topic}} Novels
    {%else%}
    {{topic}} Books
    {%endif%}</h2>
<div class="separator"></div>
<div id="all">
    <div>
        <div class="container">
            <div class="row">
                <div class="row products">
                    {%for book in books%}
                    <div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="/book_info/{{book.name}}"><img
                                            src="{{book.image}}"
                                            alt=""
                                            class="img-fluid"></a></div>
                                    <div class="back"><a href="/book_info/{{book.name}}"><img
                                            src="{{book.image}}"
                                            alt="" class="img-fluid"></a></div>
                                </div>
                            </div>
                            <a href="/book_info/{{book.name}}" class="invisible"><img
                                    src="{{book.image}}" alt=""
                                    class="img-fluid"></a>
                            <div class="text">
                                <h3><a href="/book_info/{{book.name}}">{{book.name}}</a></h3>
                                <p class="price">
                                    <del></del>
                                    ${{book.price}}0
                                </p>
                                <p class="buttons">
                                    <a href="/book_info/{{book.name}}"
                                       class="btn btn-outline-secondary">View
                                        details</a>
                                    <!--<a href="basket.html" class="btn btn-primary"><i
                                            class="fa fa-shopping-cart"></i>Add to cart</a>-->
                                </p>
                            </div>
                            <!-- /.text-->
                        </div>
                        <!-- /.product            -->
                    </div>
                    {%endfor%}

                    <!-- /.products-->
                </div>
                <!-- /.col-lg-9-->
            </div>
        </div>
    </div>
</div>
{% endblock %}