{% extends "base.html" %}
{% block content %}
<div id="all">
    <div>
        <div class="container">
            <div class="row">
                <div class="row products">
                    <div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a><img
                                            src="{{book.image}}"
                                            alt=""
                                            class="img-fluid"></a></div>
                                    <div class="back"><a><img
                                            src="{{book.image}}"
                                            alt="" class="img-fluid"></a></div>
                                </div>
                            </div>
                            <a class="invisible"><img
                                    src="{{book.image}}" alt=""
                                    class="img-fluid"></a>
                            <div class="text">
                                <p class="price">
                                    <del></del>
                                    ${{book.price}}0
                                </p>
                                <!--<p class="buttons">
                                    <a href="../static/obaju-2-1-1/distribution/detail.html"
                                       class="btn btn-outline-secondary">View
                                        detail</a>
                                    &lt;!&ndash;<a href="basket.html" class="btn btn-primary"><i
                                            class="fa fa-shopping-cart"></i>Add to cart</a>&ndash;&gt;
                                </p>-->
                                <p class="text-center buttons">
                                    <a href="/add_to_cart/{{book.name}}" class="btn btn-primary">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </p>
                            </div>
                            <!-- /.text-->
                        </div>
                        <!-- /.product            -->
                    </div>
                    <!--<div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="static/obaju-2-1-1/distribution/detail.html"><img
                                            src="https://m.media-amazon.com/images/I/51UoqRAxwEL.jpg"
                                            alt=""
                                            class="img-fluid"></a></div>
                                    <div class="back"><a href="static/obaju-2-1-1/distribution/detail.html"><img
                                            src="https://m.media-amazon.com/images/I/51UoqRAxwEL.jpg"
                                            alt="" class="img-fluid"></a></div>
                                </div>
                            </div>
                            <a href="static/obaju-2-1-1/distribution/detail.html" class="invisible"><img
                                    src="https://m.media-amazon.com/images/I/51UoqRAxwEL.jpg" alt=""
                                    class="img-fluid"></a>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">
                                    <del></del>
                                    $143.00
                                </p>
                                <p class="buttons">
                                    <a href="../static/obaju-2-1-1/distribution/detail.html"
                                       class="btn btn-outline-secondary">View
                                        detail</a>
                                    &lt;!&ndash;<a href="basket.html" class="btn btn-primary"><i
                                            class="fa fa-shopping-cart"></i>Add to cart</a>&ndash;&gt;
                                </p>
                            </div>
                            &lt;!&ndash; /.text&ndash;&gt;
                        </div>
                        &lt;!&ndash; /.product            &ndash;&gt;
                    </div>-->
                    <div class="col-lg-8 col-md-6">
                        <div class="box">
                            <h2 class="text-center">{{book.name}}</h2>
                            <h3 class="text-center">By {{book.author}}</h3>
                            <p class="display-5">{{book.summary}}</p>
                        </div>
                    </div>
                    <!-- /.products-->
                </div>
                <!-- /.col-lg-9-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9 order-1 order-lg-2">
    <div id="productMain" class="row">
        <div class="col-lg-4 col-md-6">
            <div class="flip-container">
                <div class="flipper">
                    <!--<div class="front"><a href="#"><img
                            src="{{book.image}}"
                            alt=""
                            class="img-fluid"></a></div>-->
                    <div class="back"><a href="#"><img
                            src="{{book.image}}"
                            alt="" class="img-fluid"></a></div>
                </div>
            </div>
            <div data-slider-id="1" class="owl-carousel shop-detail-carousel">
                <div class="item"><img
                        src="https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt=""
                        class="img-fluid"></div>
                <div class="item"><img
                        src="https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt="Image not fonud"
                        class="img-fluid"></div>
                <div class="item"><img
                        src="https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt=""
                        class="img-fluid"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box">
                <h1 class="text-center">{{book.name}}</h1>
                <h3 class="text-center">By {{book.author}}</h3>
                <p class="goToDescription"><a href="#details" class="scroll-to">Scroll down to see the book
                    details.</a></p>
                <p class="price">${{book.price}}0</p>
                <p class="text-center buttons"><a href="/add_to_cart/{{book.name}}" class="btn btn-primary"><i
                        class="fa fa-shopping-cart"></i> Add to cart</a>
            </div>
        </div>
    </div>
    <div id="details" class="box">
        <p></p>
        <h4>Book details</h4>
        <p class="display-5">Summary: {{book.summary}}</p>
        <a type="button" class="btn btn-dark text-white text-center" href="/books/{{book.topic}}">Continue Shopping</a>
    </div>
</div>
{% endblock %}