{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-dark">
    <a class="nav-link" href="/books/Children's">Children's Books</a>
    <a class="nav-link" href="/books/Fiction">Fiction Books</a>
</nav>
<div class="jumbotron">
    <h1>{{book.name}}</h1>
    <h3>by {{book.author}}</h3>
    <br>
    <p>Price: ${{book.price}}0</p>
    <img src="{{book.image}}" alt="No Image Found">
    {%if not check%}
    <a href="/add_to_cart/{{book.name}}"><input type="button" value="Add to cart"></a>
    {%else%}
    <a href="/cart/{{current_user.firstname}}"><input type="button" value="View in cart"></a>
    {%endif%}
</div>
{% endblock %}