{% extends "base.html" %}
{% block content %}
<style>
.MySlider-container {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 7rem;
}



</style>
{% for flash in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{flash}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{%endfor%}
<h1 class="display-1 text-center text-light">Roy Bookstore</h1>
<div class="MySlider-container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61nYp5rfV9L.jpg" class="d-block w-100"
                     alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71wiGMKadmL._AC_UL320_SR242,320_.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://m.media-amazon.com/images/I/51UoqRAxwEL.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="card-columns">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; max-height: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <h4 class="card-header">Genres are the best!</h4>
        <div class="card-body">
            <p class="card-text">Roy Bookstore has only 4 sections of books, but we have some of the best of their
                kind!</p>
            <a class="btn btn-warning text-light" href="/books/Children's">Check out some of our books!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}