{%extends 'base.html'%}
{%block content%}
<style>
.btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2b90d9;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}




</style>
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div id="checkout" class="col-lg-12">
                    <div class="box">
                        <ul id="guide-tabs"
                            class="nav nav-tabs nav-pills with-arrow flex-column flex-sm-row text-center">
                            <li class="nav-item flex-sm-fill">
                                <a id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address"
                                   aria-selected="true"
                                   class="nav-link border-0 text-uppercase font-weight-bold active"><i
                                        class="fas fa-map-marker-alt"></i><br>Address</a>
                            </li>
                            <li class="nav-item flex-sm-fill">
                                <a id="delivery-tab" data-toggle="tab" href="#delivery" role="tab"
                                   aria-controls="delivery"
                                   aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold"><i
                                        class="fas fa-truck"></i><br>Delivery Method</a>
                            </li>
                            <li class="nav-item flex-sm-fill">
                                <a id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment"
                                   aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold"><i
                                        class="far fa-money-bill-alt"></i><br>Payment Method</a>
                            </li>
                            <li class="nav-item flex-sm-fill">
                                <a id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order"
                                   aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold"><i
                                        class="fas fa-shopping-cart"></i><br>Order Review</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div id="address" role="tabpanel" aria-labelledby="#address-tab"
                                 aria-describedby="#address-tab"
                                 class="tab-pane fade px-4 py-5 show active">
                                <div class="container-fluid">
                                    <div class="row no-gutter">
                                        <!-- Demo content-->
                                        <div class="container">
                                            <div class="col-md-12">
                                                <h1 class="text-dark text-muted">Address</h1>
                                                <h3 class="text-danger" id="errorHeader"></h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form method="POST" id="frm">
                                                        <div class="form-group mb-3">
                                                            <label for="inputAddress" id="addressLabel"
                                                                   class="text-muted text-light">Address</label>
                                                            {{address.address(id="inputAddress",
                                                            class_='form-control rounded-pill border-2 shadow-sm px-4
                                                            text-primary',
                                                            **{'aria-describedby':'addressLabel',
                                                            'placeholder':'Address'})}}
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="inputState" id="stateLabel"
                                                                   class="text-muted text-light">State/Province</label>
                                                            {{address.state(id="inputState",
                                                            class_='form-control rounded-pill border-2 shadow-sm px-4
                                                            text-primary',
                                                            **{'aria-describedby':'stateLabel',
                                                            'placeholder':'State'})}}
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="inputZip" id="codeLabel"
                                                                   class="text-muted text-light">Postal Code</label>
                                                            {{address.zip(id="inputZip",
                                                            class_='form-control rounded-pill border-2 shadow-sm px-4
                                                            text-primary',
                                                            **{'aria-describedby':'stateLabel',
                                                            'placeholder':'Postal Code'})}}
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a id="forward1" name="forward1"
                                                               class="btn btn-sm btn-primary btn-block text-uppercase">
                                                                Delivery method <i class="fas fa-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="/cart/{{current_user.firstname}}"
                                                               class="btn btn-sm btn-secondary btn-block text-uppercase text-light">
                                                                <i class="fas fa-chevron-left"></i> Back to Cart
                                                            </a>
                                                        </div>


                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <form method="post">
                                                        <div class="form-group mb-3">
                                                            <label for="inputCity" id="cityLabel"
                                                                   class="text-muted text-light">City/Town</label>
                                                            <input id="inputCity" type="text"
                                                                   placeholder="City"
                                                                   aria-describedby="cityLabel"
                                                                   required="" autofocus=""
                                                                   class="form-control rounded-pill border-2 shadow-sm px-4 text-primary">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="inputPassword" id="countryLabel"
                                                                   class="text-muted text-light">Country/Territory</label>
                                                            {{address.country(class_="form-control rounded-pill border-2
                                                            shadow-sm px-4", id="inputPassword")}}
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- End -->
                                    </div>
                                </div><!-- End -->
                            </div>
                            <div id="delivery" role="tabpanel" aria-labelledby="#delivery-tab"
                                 aria-describedby="#delivery-tab"
                                 class="tab-pane fade px-4 py-5 show">
                                <form id="frm2" method="POST">
                                    <h1 class="text-muted text-dark">Delivery Methods</h1>
                                    <h3 class="text-danger" id="errorHeader2"></h3>
                                    {%for radio in delivery.radio%}
                                    {{radio}}
                                    {{radio.label}}
                                    <br>
                                    {%endfor%}
                                </form>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a id="forward3"
                                           class="btn btn-sm btn-secondary btn-block text-uppercase text-light">
                                            <i class="fas fa-chevron-left"></i> Back to Address
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a id="forward2" class="btn btn-sm btn-primary btn-block text-uppercase">
                                            Payment method <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="payment" role="tabpanel" aria-labelledby="#payment-tab"
                                 aria-describedby="#payment-tab"
                                 class="tab-pane fade px-4 py-5 show">
                                <h1 class="text-muted text-dark">Payment Method</h1>
                                <h3 id="errorHeader3"></h3>
                                <form id="frm3">
                                    {%for radio in pay.radio%}

                                    {{radio}}
                                    {{radio.label}}
                                    <br>
                                    {%endfor%}
                                </form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a id="forward4"
                                           class="btn btn-sm btn-secondary btn-block text-uppercase text-light">
                                            <i class="fas fa-chevron-left"></i> Back to Delivery Method
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a id="forward5" class="btn btn-sm btn-primary btn-block text-uppercase">
                                            Order Review<i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="order" role="tabpanel" aria-labelledby="#order-tab"
                                 aria-describedby="#order-tab"
                                 class="tab-pane fade px-4 py-5 show">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Book</th>
                                        <th></th>
                                        <th>Book price</th>
                                        <th># of type of book bought</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {%for book in books%}
                                    <tr>
                                        <td><a href="/book_info/{{book.name}}"><img
                                                src="{{book.image}}"
                                                alt="White Blouse Armani"></a></td>
                                        <td><a href="/book_info/{{book.name}}" class="text-dark"
                                               style="text-decoration: none;">{{book.name}}</a>
                                        </td>
                                        <td>
                                            <div class="vl"></div>
                                        </td>
                                        <td>${{book.price}}0</td>
                                        <td>{{number[index(book)]}}</td>
                                    </tr>
                                    {%endfor%}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="5">Subtotal</th>
                                        <th colspan="2">${{total}}0</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a id="forward6"
                                           class="btn btn-sm btn-secondary btn-block text-uppercase text-light">
                                            <i class="fas fa-chevron-left"></i> Back to Payment Method
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a type="" id="pay" href="/email"
                                           class="btn btn-sm btn-primary btn-block text-uppercase">
                                            Pay<i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End rounded tabs -->
</div>
<script>
// Address
  $("#forward1").click(function() {
    $('#guide-tabs li:eq(1) a').tab('show');
  })
// Delivery Methods
  $("#forward2").click(function() {
    $('#guide-tabs li:eq(2) a').tab('show');
  })
  $("#forward3").click(function() {
    $('#guide-tabs li:eq(0) a').tab('show');
  })
// Payment Method
  $("#forward4").click(function() {
   $('#guide-tabs li:eq(1) a').tab('show');
  })
  $("#forward5").click(function() {
        $('#guide-tabs li:eq(3) a').tab('show');}
  })
// Order Review
  $("#forward6").click(function() {
    $('#guide-tabs li:eq(2) a').tab('show');
  })
</script>
<!-- /.col-lg-9-->
{%endblock%}